<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center">Update Todo</h1>
      <%= form_tag("/todos/store_edit", method: "post") %>
      <%= hidden_field_tag(:id, @todo.id) %>
      <div class="form-group">
        <%= label_tag("Title") %>
        <%= text_field_tag(:title, @todo.title, class: "form-control" ) %>
        <p class='error'><%= show_errors(@todo, :title) %></p>
      </div>
       <div class="form-group">
        <%= label_tag("Description") %>
        <%= text_area_tag(:desc, @todo.description, class: "form-control") %>
        <p class='error'><%= show_errors(@todo, :description) %></p>
      </div>
      <div class="form-group">
        <%= label_tag("Completed")%>
        <%= check_box_tag(:completed) %>
      </div>
      <div class="text-center">
        <a href="/todos/<%= @todo.id %>" class="btn btn-success">Cancel</a>    
        <%= submit_tag("Update Todo", class: "btn btn-success") %>
      </div>
    </form>
    </div>
  </div>
</div>