<!DOCTYPE html>
<html>
  <head>
    <title>TodoList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      * {
        border-radius: 0px !important;
      }
      a {
        color: white !important;
      }
    </style>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> mr-3 mt-3 float-right text-center"><%= value %></div>
    <% end %>
    <%= yield %>
    <script src="https://unpkg.com/ionicons@4.0.0/dist/ionicons.js"></script>
  </body>
</html>
